﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="About.aspx.cs" Inherits="About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <h3>Spam Site Service</h3>
    <p>Самая крупная база действующих email адресов в Рунете.</p>
    <p>Наши спам-уловки настолько хороши, что на них попадаются даже программисты!</p>
</asp:Content>
