﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Site.master" CodeFile="ConfirmedEmails.aspx.cs" Inherits="ConfirmedEmails" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <p></p>
    <h2>Активные (подтвержденные) email адреса</h2>
    <p>
        <asp:Label ID="statisticsLable" runat="server" Font-Size="Large"></asp:Label>
    </p>
    <p>
       <asp:Label ID="Label1" runat="server" Font-Size="Larger">Таблица активных адресов</asp:Label>
    </p>
    <asp:Table ID="myTable" runat="server" Width="100%" GridLines="Both" BorderStyle="Inset" Font-Size="Medium">
        <asp:TableRow>
            <asp:TableCell>Email</asp:TableCell>
            <asp:TableCell>Link</asp:TableCell>
        </asp:TableRow>
    </asp:Table>
</asp:Content>
